* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0c1f25;
    color: #fff;
  }
  
  header {
    background: #1d9ab9;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header input {
    padding: 0.5rem;
    border-radius: 25px;
    border: none;
    width: 50%;
    outline: none;
  }
  
  main {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  
  .song-card {
    background: #0f0f0f;
    padding: 1.5rem;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.6);
    transition: transform 0.3s;
  }
  
  .song-card:hover {
    transform: translateY(-5px);
  }
  
  .song-card h3 {
    margin-bottom: 1rem;
    color: #2ba7bd;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    background: #44a2e0;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #4dace4;
  }
  
  .volume-slider {
    appearance: none;
    width: 100%;
    height: 8px;
    background: #4d4769;
    border-radius: 5px;
    outline: none;
  }
  
  .volume-slider::-webkit-slider-thumb {
    appearance: none;
    width: 18px;
    height: 18px;
    background: #b0b926;
    border-radius: 50%;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #b91db1;
    font-size: 0.9rem;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #181818;
    font-size: 0.85rem;
  }
  
  .song-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .song-info img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
   
  
  .song-info h4 {
    margin: 0;
    font-size: 16px;
  }
  .song-info p {
    font-size: 12px;
    color: #aaa;
    margin: 0;
    align-content: center;
   
  }
  .time-bar {
    display: flex;
    align-items: center;
    width: 300px;
    gap: 8px;
  }
  
  .time-bar input[type=range] {
    width: 200px;
  }
  
  .volume {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .volume input[type=range] {
    width: 100px;
  }

  .player-controls {
    display: flow-root;
    flex-direction: column;
    align-items: center;
  }
  
  .player-controls button {
    background: #1782b4;
    border: #0b1f5f;
    color:#9d1ca8 ;
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
  }
  